/* fdw-c/postgres_postgres_fdw--1.0.sql */

-- complain if script is sourced in psql, rather than via CREATE EXTENSION
\echo Use "CREATE EXTENSION fdw" to load this extension. \quit

CREATE FUNCTION postgres_{{.Plugin}}_fdw_handler()
RETURNS fdw_handler
AS 'MODULE_PATHNAME'
LANGUAGE C STRICT;

CREATE FUNCTION postgres_{{.Plugin}}_fdw_validator(text[], oid)
RETURNS void
AS 'MODULE_PATHNAME'
LANGUAGE C STRICT;

CREATE FOREIGN DATA WRAPPER postgres_postgres_{{.Plugin}}
  HANDLER postgres_{{.Plugin}}_fdw_handler
  VALIDATOR postgres_{{.Plugin}}_fdw_validator;
